[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phylosignalDB"]
	path = phylosignalDB
	url = https://github.com/anonymous-eco/phylosignaldb
